%aside.main-sidebar
  %section.sidebar
    %ul.sidebar-menu
      - tabs.each do |tab|
        %li
          = link_to(tab[:url], :class => tab[:active] ? "active" : nil) do
            %i.fa.fa{class: tab[:icon]}
            %span= t(tab[:text])
.content-wrapper{:style => 'min-height: 1036px'}
  = show_flash
  %section.content
    .row
      .col-md-3
        = render "layouts/sidebar"
      .col-md-9
        = yield
  .control-sidebar-bg{:style => "position: fixed; height: auto"}
